In [1]:
import pandas as pd
import cufflinks as cf
import chart_studio.plotly as py
import plotly.graph_objects as go
cf.go_offline(connected= True)

latitude =  37.5642135
longitude =  127.0016985

df_seoul_people = pd.read_csv('행정동별_서울생활인구.csv')
df_seoul_people_2 = df_seoul_people.groupby('행정동코드').sum()

# 추가 데이터 로드 : 행정동별 서울생활 인구

In [2]:
def row_sum(row):
    return sum(row)

In [3]:
df_seoul_people_2.iloc[:,3:17].sum(axis=1)
# 행정동 코드 별 생활인구 데이터 병합

행정동코드
11110515    6.347000e+06
11110530    7.914240e+06
11110540    1.820006e+06
11110550    4.888380e+06
11110560    5.941518e+06
                ...
11740650    9.033720e+06
11740660    1.010303e+07
11740685    1.869376e+07
11740690    1.951487e+06
11740700    1.034015e+07
Length: 424, dtype: float64

In [55]:
df_seoul_people_2

,기준일ID,시간대구분,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,남자35세부터39세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
행정동코드,,,,,,,,,,,,,,,,,,,,,
11110515,15037144704,8556,1.317927e+07,5.006166e+05,318994.1144,460349.4986,5.500519e+05,5.014562e+05,4.801196e+05,4.952805e+05,...,4.929159e+05,4.653192e+05,5.418011e+05,5.194289e+05,6.743308e+05,5.087347e+05,5.391472e+05,3.741572e+05,2.999381e+05,9.411957e+05
11110530,15037144704,8556,1.669281e+07,2.473980e+05,109954.6525,225038.1732,3.354550e+05,6.432339e+05,7.622752e+05,9.597272e+05,...,9.388584e+05,8.957515e+05,1.022021e+06,8.132836e+05,8.024993e+05,6.215925e+05,6.088033e+05,4.735829e+05,3.558284e+05,8.935104e+05
11110540,15037144704,8556,3.552687e+06,3.888685e+04,29796.5295,129194.9814,2.883529e+05,1.232634e+05,1.362802e+05,1.619340e+05,...,1.436960e+05,1.436735e+05,1.756286e+05,1.505840e+05,1.583319e+05,1.243528e+05,1.271748e+05,1.243205e+05,9.459937e+04,1.992814e+05
11110550,15037144704,8556,1.093715e+07,3.030289e+05,234964.4143,323943.2044,3.410098e+05,3.109601e+05,2.732051e+05,3.494395e+05,...,3.073474e+05,2.920752e+05,4.230671e+05,4.269877e+05,5.844110e+05,4.549596e+05,5.033042e+05,4.548712e+05,3.353205e+05,9.394342e+05
11110560,15037144704,8556,1.335091e+07,4.150813e+05,300241.7976,354682.1646,3.608704e+05,3.506430e+05,2.751646e+05,3.713613e+05,...,3.274743e+05,3.461954e+05,4.896794e+05,4.741495e+05,6.667918e+05,5.779725e+05,6.905335e+05,6.004948e+05,4.725486e+05,1.223625e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11740650,15037144704,8556,1.916190e+07,7.152618e+05,248115.2904,339829.1693,4.631699e+05,7.405526e+05,7.805349e+05,8.668888e+05,...,8.700762e+05,8.314128e+05,8.784859e+05,7.109891e+05,7.845797e+05,7.299861e+05,8.833343e+05,7.390934e+05,6.475070e+05,1.376120e+06
11740660,15037144704,8556,2.057877e+07,6.944601e+05,417439.1121,688244.2674,6.106898e+05,7.464451e+05,6.851782e+05,8.865253e+05,...,8.022617e+05,7.236003e+05,8.964007e+05,8.538587e+05,8.466794e+05,8.325346e+05,9.623858e+05,8.023724e+05,6.276529e+05,1.315162e+06
11740685,15037144704,8556,4.064003e+07,1.419401e+06,686374.1186,880767.9471,1.014468e+06,1.395786e+06,1.452543e+06,1.621026e+06,...,1.554252e+06,1.585040e+06,1.703655e+06,1.473897e+06,1.774497e+06,1.670000e+06,1.883364e+06,1.808882e+06,1.336011e+06,3.015699e+06
11740690,15037144704,8556,3.667888e+06,1.916979e+05,145287.3051,241943.3014,7.944478e+04,8.639185e+04,9.237187e+04,1.344529e+05,...,7.700368e+04,8.976673e+04,1.454724e+05,1.345152e+05,1.435929e+05,1.318441e+05,1.459630e+05,1.220806e+05,1.091404e+05,2.325780e+05
11740700,15037144704,8556,2.130863e+07,1.092952e+06,551344.4017,610468.6157,5.187745e+05,6.719948e+05,6.444586e+05,8.277499e+05,...,6.505609e+05,7.015239e+05,8.407636e+05,7.895406e+05,8.664396e+05,8.377635e+05,9.734430e+05,8.414535e+05,7.287807e+05,1.592721e+06

In [4]:
df_seoul_people_new =pd.DataFrame()
# 저장을 위한 데이터 프레임

In [56]:
df_seoul_people_new['남성인구'] = pd.Series(df_seoul_people_2.iloc[:,3:17].sum(axis=1))
df_seoul_people_new['여성인구'] = pd.Series(df_seoul_people_2.iloc[:,17:].sum(axis=1))
df_seoul_people_new['총인구수'] = df_seoul_people_2['총생활인구수']

# 행정동 코드 별 남성인구 / 여성인구 / 총인구수

In [57]:
df_seoul_people_new

                  남성인구          여성인구          총인구수
행정동코드
11110515  6.347000e+06  6.832270e+06  1.317927e+07
11110530  7.914240e+06  8.778570e+06  1.669281e+07
11110540  1.820006e+06  1.732681e+06  3.552687e+06
11110550  4.888380e+06  6.048769e+06  1.093715e+07
11110560  5.941518e+06  7.409387e+06  1.335091e+07
...                ...           ...           ...
11740650  9.033720e+06  1.012818e+07  1.916190e+07
11740660  1.010303e+07  1.047574e+07  2.057877e+07
11740685  1.869376e+07  2.194627e+07  4.064003e+07
11740690  1.951487e+06  1.716402e+06  3.667888e+06
11740700  1.034015e+07  1.096848e+07  2.130863e+07

[424 rows x 3 columns]

In [143]:
import json

geo_path = 'hangjungdong.json'
geo_json = json.load(open(geo_path, encoding="utf-8"))

# 행정동 json 파일 로드

In [144]:
geo_json['features'][0]
# 확인

{'type': 'Feature',
 'properties': {'OBJECTID': 1,
  'adm_nm': '서울특별시 종로구 사직동',
  'adm_cd': '1101053',
  'adm_cd2': '1111053000',
  'sgg': '11110',
  'sido': '11',
  'sidonm': '서울특별시',
  'temp': '종로구 사직동',
  'sggnm': '종로구',
  'adm_cd8': '11010530'},
 'geometry': {'type': 'MultiPolygon',
  'coordinates': [[[[126.97688884274817, 37.575650779448786],
     [126.9770344988775, 37.56919453005455],
     [126.97597472821249, 37.569336299425764],
     [126.97537470991254, 37.56931556702156],
     [126.97433193562325, 37.56926180051753],
     [126.96904837001854, 37.568194417708334],
     [126.96854493603384, 37.56842767961276],
     [126.9666499598212, 37.56949165520658],
     [126.96628175024485, 37.5697007347987],
     [126.9660973270804, 37.5698565097237],
     [126.96572852922577, 37.570183936115114],
     [126.96592699822128, 37.5703188056862],
     [126.96601094018429, 37.571548395577466],
     [126.96365922052196, 37.57517466066037],
     [126.9630860043451, 37.57648592001554],
     [126.96284099051198, 37.57666158609274],
     [126.96281041047263, 37.579448809656775],
     [126.96742431584332, 37.57960153712449],
     [126.96742176302651, 37.579263521441646],
     [126.9674300601846, 37.579192577998604],
     [126.9674570900956, 37.57897525058544],
     [126.96806604699626, 37.57824678046787],
     [126.96895511695477, 37.57793526234028],
     [126.96921284296906, 37.57793529930939],
     [126.96941453886579, 37.578121124142164],
     [126.9696644266947, 37.57853113668221],
     [126.96966721914872, 37.57873620513493],
     [126.96966877353309, 37.57899287900988],
     [126.96966949910363, 37.57911252674959],
     [126.96990457361626, 37.579301753628734],
     [126.97135197544759, 37.57951327793981],
     [126.97381925784454, 37.57937214030263],
     [126.97391736338342, 37.57848707304101],
     [126.97393961998088, 37.57824042997809],
     [126.97433153835757, 37.57574990629986],
     [126.97580378997804, 37.5756494688242],
     [126.97688884274817, 37.575650779448786]]]]}}

In [145]:
def geo(data,lst_all):
    lst_all = []
    for i in range(len(data['features'])):
        if data['features'][i]['properties']['adm_cd8'][0:2] == '11':
            lst_all.append(data['features'][i])
    return lst_all
        
lst_all = geo(geo_json,lst_all)
# Geojson파일에서, 필요한 데이터 만을 list로 저장

In [146]:
lst_all[0] # 확인

{'type': 'Feature',
 'properties': {'OBJECTID': 1,
  'adm_nm': '서울특별시 종로구 사직동',
  'adm_cd': '1101053',
  'adm_cd2': '1111053000',
  'sgg': '11110',
  'sido': '11',
  'sidonm': '서울특별시',
  'temp': '종로구 사직동',
  'sggnm': '종로구',
  'adm_cd8': '11010530'},
 'geometry': {'type': 'MultiPolygon',
  'coordinates': [[[[126.97688884274817, 37.575650779448786],
     [126.9770344988775, 37.56919453005455],
     [126.97597472821249, 37.569336299425764],
     [126.97537470991254, 37.56931556702156],
     [126.97433193562325, 37.56926180051753],
     [126.96904837001854, 37.568194417708334],
     [126.96854493603384, 37.56842767961276],
     [126.9666499598212, 37.56949165520658],
     [126.96628175024485, 37.5697007347987],
     [126.9660973270804, 37.5698565097237],
     [126.96572852922577, 37.570183936115114],
     [126.96592699822128, 37.5703188056862],
     [126.96601094018429, 37.571548395577466],
     [126.96365922052196, 37.57517466066037],
     [126.9630860043451, 37.57648592001554],
     [126.96284099051198, 37.57666158609274],
     [126.96281041047263, 37.579448809656775],
     [126.96742431584332, 37.57960153712449],
     [126.96742176302651, 37.579263521441646],
     [126.9674300601846, 37.579192577998604],
     [126.9674570900956, 37.57897525058544],
     [126.96806604699626, 37.57824678046787],
     [126.96895511695477, 37.57793526234028],
     [126.96921284296906, 37.57793529930939],
     [126.96941453886579, 37.578121124142164],
     [126.9696644266947, 37.57853113668221],
     [126.96966721914872, 37.57873620513493],
     [126.96966877353309, 37.57899287900988],
     [126.96966949910363, 37.57911252674959],
     [126.96990457361626, 37.579301753628734],
     [126.97135197544759, 37.57951327793981],
     [126.97381925784454, 37.57937214030263],
     [126.97391736338342, 37.57848707304101],
     [126.97393961998088, 37.57824042997809],
     [126.97433153835757, 37.57574990629986],
     [126.97580378997804, 37.5756494688242],
     [126.97688884274817, 37.575650779448786]]]]}}

In [156]:
convert = pd.read_csv('convert.csv',header = None, names=['통계','행안'])

# 행정동 코드가 행안부와 통계청 코드가 다르므로, 이를 바꾸어주어야 함

In [157]:
convert

          통계        행안
0    1101053  11110530
1    1101054  11110540
2    1101055  11110550
3    1101056  11110560
4    1101057  11110570
..       ...       ...
419  1125070  11740690
420  1125071  11740700
421  1125072  11740570
422  1125073  11740610
423  1125074  11740685

[424 rows x 2 columns]

In [158]:
lst_all_2 = []
for i in range(len(lst_all)):
    lst_all_2.append([lst_all[i]['geometry']['coordinates'][0][0],int(lst_all[i]['properties']['adm_cd'])])
    
# [Polygon 좌표 , 행정동] 으로 저장

In [159]:
from shapely.geometry import Point, Polygon
# 라이브러리 로드

In [160]:
lst_all_2[1][1]

1101054

In [161]:
df_coordinate = pd.DataFrame(lst_all_2,columns=['좌표','행정동코드'])
# merge 시킬 dataframe 생성

In [162]:
df_coordinate = df_coordinate.set_index('행정동코드').copy()

In [178]:
df_coordinate_2 = df_coordinate.reset_index().copy()

In [179]:
df_coordinate_2

       행정동코드                                                 좌표
0    1101053  [[126.97688884274817, 37.575650779448786], [12...
1    1101054  [[126.98268938649305, 37.5950655194224], [126....
2    1101055  [[126.97585113775686, 37.59656422224409], [126...
3    1101056  [[126.97507466788086, 37.63138628651299], [126...
4    1101057  [[126.96067353273895, 37.58079784202973], [126...
..       ...                                                ...
421  1125072  [[127.14447178485771, 37.55477055824149], [127...
422  1125073  [[127.13457783289466, 37.54712046995205], [127...
423  1125074  [[127.14856854982625, 37.54577930934905], [127...
424  1117073  [[126.8317936893084, 37.477574560161884], [126...
425  1125075  [[127.18187832639636, 37.55885787455035], [127...

[426 rows x 2 columns]

In [180]:
num = 0
for k,i,j in zip([i for i in range(len(df_coordinate_2))],df_coordinate_2['행정동코드'],convert['통계']):
    if i == j:
        df_coordinate_2.loc[k,'행정동코드'] = convert['행안'][k]
        print(df_coordinate_2.loc[k,'행정동코드'])
        num+=1
print(num)

# 처음에 받은 데이터의 행정동은 행안부의 행정동 코드로 되어있으므로, 이를 통계청 행정동 코드로 변환

11110530
11110540
11110550
11110560
11110570
11110580
11110600
11110615
11110630
11110640
11110670
11110680
11110690
11110700
11110710
11110515
11110650
11140520
11140540
11140550
11140570
11140580
11140590
11140605
11140650
11140670
11140680
11140615
11140625
11140635
11140645
11140665
11170510
11170520
11170530
11170570
11170580
11170590
11170630
11170640
11170650
11170660
11170690
11170700
11170555
11170560
11170625
11170685
11200520
11200540
11200550
11200560
11200570
11200580
11200590
11200620
11200650
11200660
11200670
11200690
11200720
11200790
11200535
11200615
11200645
11215710
11215730
11215740
11215750
11215760
11215770
11215780
11215850
11215860
11215870
11215810
11215820
11215830
11215840
11215847
11230710
11230720
11230730
11230705
11230536
11230545
11230560
11230570
11230610
11230650
11230660
11230740
11230750
11230600
11260520
11260540
11260550
11260570
11260580
11260590
11260600
11260610
11260620
11260630
11260660
11260680
11260690
11260565
11260575
11260655
11290580
11290590
11290600
11290610
11290620
11290630
11290640
11290650
11290660
11290685
11290715
11290725
11290760
11290770
11290780
11290525
11290555
11290575
11290705
11290810
11305590
11305600
11305606
11305610
11305620
11305630
11305534
11305535
11305545
11305555
11305575
11305645
11305660
11320660
11320670
11320680
11320681
11320690
11320700
11320710
11320511
11320512
11320513
11320514
11320515
11320521
11320522
11350560
11350570
11350580
11350600
11350611
11350612
11350619
11350621
11350624
11350630
11350640
11350670
11350700
11350710
11350720
11350665
11350695
11350625
11350595
11380510
11380520
11380551
11380552
11380560
11380570
11380580
11380590
11380631
11380632
11380640
11380650
11380690
11380530
11380600
11380625
11410520
11410620
11410640
11410655
11410660
11410685
11410690
11410700
11410710
11410720
11410565
11410555
11410585
11410615
11440590
11440600
11440610
11440630
11440660
11440680
11440690
11440700
11440710
11440720
11440730
11440740
11440585
11440655
11440565
11440555
11470510
11470520
11470530
11470540
11470560
11470570
11470580
11470590
11470600
11470610
11470611
11470620
11470630
11470640
11470670
11470680
11470550
11470650
11500510
11500520
11500530
11500535
11500590
11500550
11500560
11500570
11500591
11500593
11500603
11500604
11500605
11500611
11500620
11500630
11500640
11500641
11500540
11500615
11530510
11530520
11530540
11530550
11530560
11530720
11530730
11530750
11530760
11530770
11530790
11530595
11530530
11530740
11545510
11545610
11545620
11545630
11545640
11545670
11545680
11545690
11545700
11545710
11560540
11560550
11560560
11560610
11560620
11560630
11560650
11560660
11560670
11560680
11560690
11560700
11560710
11560720
11560515
11560535
11560585
11560605
11590520
11590530
11590540
11590550
11590560
11590620
11590640
11590650
11590651
11590660
11590670
11590680
11590605
11590510
11590630
11620525
11620545
11620575
11620585
11620615
11620625
11620630
11620645
11620655
11620665
11620685
11620695
11620715
11620725
11620735
11620605
11620565
11620595
11620775
11620745
11620765
11650510
11650520
11650530
11650531
11650540
11650550
11650560
11650570
11650580
11650581
11650590
11650600
11650610
11650620
11650621
11650651
11650652
11650660
11680510
11680521
11680531
11680580
11680590
11680600
11680630
11680640
11680650
11680655
11680656
11680660
11680690
11680720
11680730
11680740
11680750
11680700
11680545
11680565
11680610
11680670
11710510
11710520
11710531
11710532
11710540
11710550
11710561
11710562
11710566
11710570
11710580
11710590
11710600
11710610
11710620
11710631
11710632
11710641
11710642
11710650
11710690
11710710
11710720
11710670
11710680
11710646
11710647
11740530
11740540
11740550
11740560
11740580
11740590
11740600
11740620
11740640
11740650
11740660
11740690
11740700
11740570
11740610
11740685
421

In [177]:
df_seoul_people_new 
# 서울시 행정동별 활동 인구수

                  남성인구          여성인구          총인구수
행정동코드
11110515  6.347000e+06  6.832270e+06  1.317927e+07
11110530  7.914240e+06  8.778570e+06  1.669281e+07
11110540  1.820006e+06  1.732681e+06  3.552687e+06
11110550  4.888380e+06  6.048769e+06  1.093715e+07
11110560  5.941518e+06  7.409387e+06  1.335091e+07
...                ...           ...           ...
11740650  9.033720e+06  1.012818e+07  1.916190e+07
11740660  1.010303e+07  1.047574e+07  2.057877e+07
11740685  1.869376e+07  2.194627e+07  4.064003e+07
11740690  1.951487e+06  1.716402e+06  3.667888e+06
11740700  1.034015e+07  1.096848e+07  2.130863e+07

[424 rows x 3 columns]

In [183]:
df_coordinate_2

        행정동코드                                                 좌표
0    11110530  [[126.97688884274817, 37.575650779448786], [12...
1    11110540  [[126.98268938649305, 37.5950655194224], [126....
2    11110550  [[126.97585113775686, 37.59656422224409], [126...
3    11110560  [[126.97507466788086, 37.63138628651299], [126...
4    11110570  [[126.96067353273895, 37.58079784202973], [126...
..        ...                                                ...
421  11740570  [[127.14447178485771, 37.55477055824149], [127...
422  11740610  [[127.13457783289466, 37.54712046995205], [127...
423  11740685  [[127.14856854982625, 37.54577930934905], [127...
424   1117073  [[126.8317936893084, 37.477574560161884], [126...
425   1125075  [[127.18187832639636, 37.55885787455035], [127...

[426 rows x 2 columns]

In [185]:
df_seoul_coordinate_merge = pd.merge(df_seoul_people_new.reset_index(),df_coordinate_2,left_on= '행정동코드',right_on='행정동코드',how = 'left')
# 행정동코드 별 좌표를 얻기위해 합친다

In [192]:
df_seoul_coordinate_merge_2 = df_seoul_coordinate_merge.dropna().copy()
# NA 값 제거 이때 NA 값은 3개이다.

In [194]:
df_seoul_coordinate_merge_2

,행정동코드,남성인구,여성인구,총인구수,좌표
0,11110515,6.347000e+06,6.832270e+06,1.317927e+07,"[[126.97358726355343, 37.593289023280704], [12..."
1,11110530,7.914240e+06,8.778570e+06,1.669281e+07,"[[126.97688884274817, 37.575650779448786], [12..."
2,11110540,1.820006e+06,1.732681e+06,3.552687e+06,"[[126.98268938649305, 37.5950655194224], [126...."
3,11110550,4.888380e+06,6.048769e+06,1.093715e+07,"[[126.97585113775686, 37.59656422224409], [126..."
4,11110560,5.941518e+06,7.409387e+06,1.335091e+07,"[[126.97507466788086, 37.63138628651299], [126..."
...,...,...,...,...,...
419,11740650,9.033720e+06,1.012818e+07,1.916190e+07,"[[127.12642338967866, 37.537660119942025], [12..."
420,11740660,1.010303e+07,1.047574e+07,2.057877e+07,"[[127.13857227069298, 37.5339876965208], [127...."
421,11740685,1.869376e+07,2.194627e+07,4.064003e+07,"[[127.14856854982625, 37.54577930934905], [127..."
422,11740690,1.951487e+06,1.716402e+06,3.667888e+06,"[[127.14580008867549, 37.521989966841396], [12..."
423,11740700,1.034015e+07,1.096848e+07,2.130863e+07,"[[127.15355242225388, 37.533996519079544], [12..."

In [199]:
df_seoul_coordinate_merge_2[df_seoul_coordinate_merge_2['좌표'].duplicated()]
# 중복되는 값이 없는 것을 확인하였습니다.

Empty DataFrame
Columns: [행정동코드, 남성인구, 여성인구, 총인구수, 좌표]
Index: []